h1 {
  color: brown;
}

body {
  display: grid;
  grid-template-rows: [header-start] 1fr [header-end display-start]
  2fr [display-end add-books-start] 2fr [add-books-end];
  justify-content: center;
}

body > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase {
  gap: 50px;
  font-size: 10px;
  flex-wrap: wrap;
}

.card {
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
}



